.links{
    display:inline;
    font-size:20px;
    padding-left:35px;
    padding-right:35px;
}
.container
{
    text-align: center;
}
.Img2{
    width: 300px;
    height: 200px;
    
}
#img1{
        width: 100%;
}
.menu1{
    float:left;
    list-style:none;
    color:white;
    position:fixed;
    background:yellow;
    width:100%;
    margin-top:0px;
    top:0px;
    z-index:10;
}

    .thumb{
        margin-top: 15px;
        margin-bottom: 15px;
      }

      #img5{
          height:50px;
      }
      #img6{
          height:50px;
      }








a
{
  font-size: 25px;
  color: rgb(226, 109, 168);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  
  padding: 10px; 
  
}

